.profile {
  height: fit-content;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: max-content;
  font-size: 13px;
}

.profile img {
  width: 100px;
  border-radius: 50%;
  border: 5px solid black;
  margin-right: 20px;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.tag {
  color: blue;
}
.stats {
  display: flex;
  margin-top: 10px;
}

.stats li {
  width: 60px;
  text-align: center;
}
.quantity {
  font-size: 18px;
  font-weight: bold;
}

