.item {
  text-align: center;
}

.avatar {
  background: #000;
  border-radius: 50%;
}
.online span, .offline span {
  font-size: 12px;
}
.online img, .offline img {
  width: 50px;
  height: 50px;
}
.online img {
  border: 3px solid darkgreen;
}
.online span {
  color: darkgreen;
}
.offline img {
  border: 3px solid red;
}
.offline span {
  color: red;
}